doctype html
html
    head
        script(type="text/javascript" src="//gweb-musiclab-site.appspot.com/static/js/Tone.min.js")

        script(src='/js/app.js')
        title Innovative Technology
    body
        div#container
        div#meta
           div#participants
