doctype html
html
    head
        script(type="text/javascript" src="//gweb-musiclab-site.appspot.com/static/js/Tone.min.js")

        script(src='/js/app.js')
        title Innovative Technology - Client
    body
        div#container
