doctype html
html
    head
        link(rel="manifest", href="manifest.json")
        title Innovative Technology - Client
    body
        div#selectionPage
            div#selectionContainer
                div(class="row choose guitar", data-type="guitar")
                    h2 Guitar
                div(class="row choose drums", data-type="drums")
                    h2 Drums
                div(class="row choose bass", data-type="bass")
                    h2 Bass
        div#sequencePage.hide
            div#container
                //div.header
                div.message
                    h2 Rotate your device
                    svg
                        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#orientation")
        script(src='/js/app.js')


