doctype html
html
    head
        script(type="text/javascript" src="//gweb-musiclab-site.appspot.com/static/js/Tone.min.js")

        script(src='/js/app.js')
        title Innovative Technology - Client
    body
        div#selectionPage
            div#selectionContainer
                button(class="choose", data-type="guitar") Guitar
                button(class="choose", data-type="drums") Drums
                button(class="choose", data-type="drumsAlt") Drums Alt
                button(class="choose", data-type="random") Random
                button(class="choose", data-type="bass") Bass
    div#sequencePage.hide
            div#container
