doctype html
html
    head
        title Innovative Technology - Client
    body
        div#selectionPage
            div#selectionContainer
                button(class="choose", data-type="guitar") Guitar
                button(class="choose", data-type="drums") Drums
                button(class="choose", data-type="bass") Bass
        div#sequencePage.hide
            div#container

        script(src='/js/app.js')


