doctype html
html
    head
        title Innovative Technology - Room
    body
        div#container
            div(class="column guitar", data-type="guitar")
                div.svg-container.instrument-guitar
                    svg
                        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#guitar")
            div(class="column drums", data-type="drums")
                div.svg-container.instrument-guitar
                    svg
                        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#drums")

            div(class="column bass", data-type="bass")
                div.svg-container.instrument-bass
                    svg
                        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#bass")
        div#textContainer
            div.bottom-column.guitarText
                h2 Guitar
                    span .
                    span .
                    span .
            div.bottom-column.drumsText
                h2 Drums
                    span .
                    span .
                    span .
            div.bottom-column.bassText
                h2 Bass
                    span .
                    span .
                    span .
    script(src='/js/app.js')

