doctype html
html
    head
    script(type="text/javascript" src="http://cdn.tonejs.org/latest/Tone.min.js")
    script(src='/js/app.js')
        title Innovative Technology - Room
    body
        div#container
        div#meta
            div#participants
