#selectionContainer {
  height: 100%;
}

.row, .header {
  width: 100%;
  height: calc(100% / 3);
}

.row.choose, .header {
  padding-top: 40px;

  h2 {
    font-size: 6em;
    color: #fff;
    text-align: center;
  }
}

.row.choose.guitar, .header.guitar {
  background-color: $main-green;
  background-image: url('/img/guitar.svg');
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.row.choose.bass, .header.bass {
  background-color: $main-sand;
  background-image: url('/img/bass.svg');
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.row.choose.drums, .header.drums {
  background-color: $main-red;
  background-image: url('/img/drums.svg');
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.row.choose.unavailable {
  opacity: 0.5;
}

